**/*/.idea/*
**/*/node_modules/*
**/*/dist/*
**/*/build/*
**/.jshintrc
**/.prettierrc
**/nodemon.json
**/tsconfig.json
**/.eslintrc
**/checkFolder/
**/webpack.config.js
**/.env
**/package-lock.json
**/build/
**/*.js
**/*/.gitignore
**/*/.prettierrc
**/*/.env
**/*/eslint.config.*js
**/*/package-lock.json
**/*/.history/*
.idea/
.history/
build/**
dist/**
**/*/.cursorrules
**/*/.cursorignore
.cursorrules
.cursorignore
/node_modules/**/*
