NODE_ENV=development
LOG_LEVEL=debug
DATABASE_URL=mongodb+srv://USERNAME:PASSWORD@HOST/DATABASE?retryWrites=true&w=majority&appName=APP_NAME
HOST=0.0.0.0
PORT=3003
SESSION_SECRET=your_session_secret_here
SESSION_SALT=your_session_salt_here
AUTHORIZATION_SCHEME=Basic
MIN_PASSWORD_LENGTH=6
PASSWORD_ITERATIONS=10000
PASSWORD_KEY_LENGTH=32
SALT_RANDOM_BYTES=16
PASSWORD_DIGEST=sha256
DERIVED_KEY_OUTPUT_FORMAT=hex
BUFFER_ENCODING=base64
SALT_ENCODING=hex
JWT_SECRET=your_jwt_secret_here
JWT_TOKEN_AUDIENCE=your_audience_here
JWT_TOKEN_ISSUER=your_issuer_here
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKENTTL=86400
REDIS_HOST=localhost
REDIS_PORT=6379
#REDIS_PASSWORD=your_redis_password_here
#REDIS_DB=0
AZURE_STORAGE_CONNECTION_LINK=your_azure_storage_connection_string_here
AZURE_STORAGE_CONNECTION_LINK=https://systemscannerstorage.blob.core.windows.net/;QueueEndpoint=https://systemscannerstorage.queue.core.windows.net/;FileEndpoint=https://systemscannerstorage.file.core.windows.net/;TableEndpoint=https://systemscannerstorage.table.core.windows.net/;SharedAccessSignature=sv=2024-11-04&ss=bfqt&srt=sco&sp=rdlupiytfx&se=2025-08-25T18:25:30Z&st=2025-08-25T10:10:30Z&spr=https,http&sig=KU3Oc04MrPhuAGcj%2Fmi%2F3i7V8NwaVjYDzY%2BXZRksAKk%3D
AZURE_STORAGE_SAS_BLOB_OBJECTS_URL=https://systemscannerstorage.blob.core.windows.net/?sv=2024-11-04&ss=bfqt&srt=sco&sp=rdlupiytfx&se=2025-08-25T18:25:30Z&st=2025-08-25T10:10:30Z&spr=https,http&sig=KU3Oc04MrPhuAGcj%2Fmi%2F3i7V8NwaVjYDzY%2BXZRksAKk%3D
AZURE_STORAGE_SAS_FILE_SERVICE_URL=https://systemscannerstorage.file.core.windows.net/?sv=2024-11-04&ss=bfqt&srt=sco&sp=rdlupiytfx&se=2025-08-25T18:25:30Z&st=2025-08-25T10:10:30Z&spr=https,http&sig=KU3Oc04MrPhuAGcj%2Fmi%2F3i7V8NwaVjYDzY%2BXZRksAKk%3D
AZURE_STORAGE_SAS_TABLE_SERVICE_URL=https://systemscannerstorage.table.core.windows.net/?sv=2024-11-04&ss=bfqt&srt=sco&sp=rdlupiytfx&se=2025-08-25T18:25:30Z&st=2025-08-25T10:10:30Z&spr=https,http&sig=KU3Oc04MrPhuAGcj%2Fmi%2F3i7V8NwaVjYDzY%2BXZRksAKk%3D
AZURE_SCANNER_BASE_URL=http://20.217.200.191:8080
AZURE_SCANNER_TIMEOUT=30000
OPEN_ROUTER_API_KEY=your_api_key_here
